.coveralls.yml
*.pyc
.coverage
.tox
.pytest_cache
.ipynb_checkpoints
.executed_notebooks
coverage.xml
__pycache__
*db\.sqlite3
managed_vms/django_tutorial/static/*
**/migrations/*
lib
secrets.tar
.cache
junit.xml
credentials.dat
.nox
.vscode/
*sponge_log.xml
.DS_store
env/
.idea
.env*
**/venv
**/noxfile.py
*.xlsx
*.json
*.backup